<h2 *ngIf="!id">Nuevo profesor</h2>
<h2 *ngIf="id">Editar profesor #{{ id }}</h2>

<form [formGroup]="form" (ngSubmit)="submit()">

  <div>
    <label>Correo</label><br />
    <input formControlName="correo" />

    <div style="color:red"
         *ngIf="form.get('correo')?.touched && form.get('correo')?.invalid">
      Correo obligatorio con formato válido
    </div>

    <div style="color:red" *ngIf="serverErrors['correo']">
      {{ serverErrors['correo'] }}
    </div>
  </div>

  <button type="submit" [disabled]="saving">
    {{ saving ? 'Guardando...' : 'Guardar' }}
  </button>

  <a routerLink="/profesores" style="margin-left:12px;">Cancelar</a>
</form>